.App {
  text-align: center;
}

.drop{
  background-color:#dcdde1;
}
.dropdown{
  color: white;
  background-color: gray;
  border-radius: 5px;
  height: 2rem;
}
.temp{
  font-size: 14px;
}
.card{
  width: 162.5px;
}
